<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label stacked>Campos com o * do lado são obrigatorios</ion-label>
  <form [formGroup]="formGroup" (ngSubmit)="signup;  $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-list radio-group formControlName="tipo">
      <ion-list-header>
        Tipo de cliente
      </ion-list-header>
      <ion-item>
        <ion-label stacked>Pessoa física</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label stacked>Pessoa Juridica</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label stacked>Cpf ou Cnpj*</ion-label>
      <ion-input formControlName="cpfOuCnpj" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bairro*</ion-label>
      <ion-input formControlName="bairro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Logradouro</ion-label>
      <ion-input formControlName="logradouro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Numero*</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>CEP*</ion-label>
      <ion-input formControlName="cep" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Endereço completo*</ion-label>
      <ion-input formControlName="endereco" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Celular/Telefone*</ion-label>
      <ion-input formControlName="telefone" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Estado</ion-label>
      <ion-select formControlName="estateId" (ionChange)="updateCities()">
        <ion-option *ngFor="let estate of estates; first as f" [value]="estate.id" [selected]="f">{{estate.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cidade</ion-label>
      <ion-select formControlName="cityId">
        <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-option>
        <!-- o city.id é o id do backend e o cityId é o do form definido no signup -->
      </ion-select>
    </ion-item>
    <br>
    <button ion-button block type="submit" (click)="signupUser()">Criar a conta</button>
  </form>
</ion-content>
